body{
	background-color:teal;
}
h1 {
	font-size: 30px;
		color:  #229954;
}
h2 {
	color: #f1c40f;
	font-size: 20px;
}
.big {
	font-size: 40px;
}
.uppercase {
	text-transform: uppercase;
}
.big.uppercase{
	color: salmon;
}
h1 span{
	color: hotpink;
}